{% extends "base_layout.html" %}
{% block content %}

<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h2 class="card-title">404: Requested page not found!</h2>
            </div>
            <div class="panel-footer">
                <a href="/" class="btn btn-primary btn-block"><i class="fa fa-home"></i> Home</a>
                <a href="#" class="btn btn-info btn-block" disabled><i class="fa fa-envelope"></i> Report a
                    problem</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}