{% extends "base_layout.html" %} {% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('serveStaticResource', resource='css/morris.css') }}">
{% endblock %}

{% block content %}

<div class="embed-responsive embed-responsive-4by3">
	<iframe class="embed-responsive-item" src="{{ url_for('/app/') }}"></iframe>
</div>

{% endblock %}
